<H1>hello JMS</H1>

<!-- <div class="drawing-container">
    <div class="toolbar">
      <h2>Drawing Board</h2>
      <div class="icons">
        <button title="Draw Rectangle" (click)="setTool('rectangle')">
          <i class="fa fa-square"></i>
        </button>
        <button title="Draw Circle" (click)="setTool('circle')">
          <i class="fa fa-circle"></i>
        </button>
        <button title="Pencil" (click)="setTool('pencil')">
          <i class="fa fa-pencil"></i>
        </button>
      </div>
    </div>
    <canvas 
      #drawingCanvas 
      (mousedown)="startDrawing($event)" 
      (mousemove)="draw($event)" 
      (mouseup)="stopDrawing($event)" 
      (mouseout)="stopDrawing($event)">
    </canvas>
  </div> -->
  